# Python
__pycache__/
*.py[cod]
*$py.class
venc/
env/
.env

# Models
# Allowing .pkl files for deployment
# *.pkl
# *.model
# *.joblib

# Data
data/job_market_data.csv

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.eslintcache
frontend/src/assets/*
!frontend/src/assets/react.svg

# OS & IDE
.vscode/
.idea/
.gemini/
.DS_Store
Thumbs.db
